
/* Fonts and Content */
body, td { 
	font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; 
	font-size:14px; 
}

body { 
	background-color: #2A374E; 
	margin: 0; 
	padding: 0; 
	-webkit-text-size-adjust:none; 
	-ms-text-size-adjust:none; 
}

h2{ 
	padding-top:12px; 
	color:#0E7693; font-size:22px; 
}

